body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
background:white;
}
.nav{
position:relative;
width:100%;
height:70px;
background:black;
color:white;
}


.menu{
position:absolute;
left:30px;
top:22px;
font-size:24px;
cursor:pointer;
}

.logo{
position:absolute;
left:50%;
top:15px;
transform:translateX(-50%);
color: white;
}

.logo img{
width:40px;
height:auto;
}

.right{
position:absolute;
right:30px;
top:22px;
display:flex;
gap:20px;
align-items:center;
font-size:18px;
cursor:pointer;
}


.recommend{
width:90%;
margin:auto;
margin-top:40px;
}
.title{
font-size:45px;
font-weight:300;
margin-bottom:30px;
}
.cards{
display:flex;
gap:20px;
}

.card{
position:relative;
flex:1;
height:450px;
border-radius:10px;
overflow:hidden;
background:white;
}

.big{
flex:1.8;
}

.card img{
width:100%;
height:100%;
object-fit:cover;
}

.content{
position:absolute;
bottom:0;
left:0;
width:100%;background: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,0) 100%);
color:white;
padding:25px;
box-sizing:border-box;
}

.content h2{
margin:0;
font-size:26px;
font-weight:400;
}

.content p{
margin-top:10px;
font-size:14px;
color:#ddd;
}
button{
margin-top:15px;
padding:10px 20px;
background:#0078d6;
border:none;
color:white;
cursor:pointer;
border-radius:4px;
font-size:14px;
}

button:hover{
background:#005bb5;
}